default menu.c32
prompt 0
timeout 300
ONTIMEOUT local

menu tille #### PXE BOOT MENU ####

label 1
menu label ^1) Install Centos7 KS
menu default
kernel rhel7/vmlinuz
append initrd=rhel7/initrd.img ip=dhcp inst.noverifyssl inst.ks=ftp://10.1.16.40/pub/anaconda-ks.cfg inst.text

label rescue
  menu label ^Rescue installed system
  kernel rhel7/vmlinuz
  append initrd=rhel7/initrd.img rescue

label 2
menu label ^2) Boot from ^local drive