#version=DEVEL
# System authorization information
auth --useshadow --enablemd5
# Install OS instead of upgrade
install
# Use CDROM installation media
#cdrom
# Use Network installation
url --url="ftp://10.1.16.40/pub/"
# Firewall configuration
firewall --enabled
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --activate
network  --hostname=centos7-viettel-aap
# Reboot after installation
reboot
text
# Root password
rootpw --iscrypted $1$AQ20qBlP$5.EBeqB2.H7NFiLhKKYyu1
# System timezone
timezone Asia/Ho_Chi_Minh --isUtc
user --groups=wheel --name=dxd --password=$6$tnq6jnkQXfz9IA.s$nh0AyoVVSdawh5xP9MumnHpTwqsddCEOwBBiRZX8BN3OoeBSaeK9mNpZwMW1ncRPEliYvED5JpOQGi82tCtZE/ --iscrypted --gecos="dxd"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
clearpart --all --initlabel
autopart
%packages
@compat-libaries
@core
wget
net-tools
%end