lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
timezone Asia/Ho_Chi_Minh --isUtc
rootpw {{ encrypted_passwd }} --iscrypted
install
url --noverifyssl --url="ftp://10.1.16.40/pub/
# Network information
network --bootproto=dhcp --device=ens192 --activate
network --hostname=localhost.localdomain
reboot
text
bootloader --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
authselect --passalgo=sha512 --useshadow
user --name=ansible --groups=wheel --iscrypted --password={{ encrypted_passwd }}
selinux --enforcing
firewall --enabled
firstboot --disable